<div class="header">
    <h1>Kovtun Denis</h1>
</div>
<nav>
    <a routerLink = '/'>Main</a>
    
    <a routerLink = '/' (click)="logOut()">Logout</a>
    <a routerLink = '/login'>Login</a>
  </nav>
<div class="container">
    <div class="info">
        <div><img src="assets/img/my1.jpg" alt=""></div>
        <ul>
            <li><h4>Kovtun Denis</h4></li>
            <li><h4>Date of birth 28.02.1992</h4></li>
            <li><h4>Kyiv</h4></li>
            <li><h4>066-046-70-23</h4></li>
            <li>paryya28@gmail.com</li>
        </ul>
    </div>
    <div class="myExp">
        <div >
            <h3>Objective: </h3>
            <p>Extremely motivated for career change goal. Get training in your company, get a good promising job in an excellent team where I can realize myself as a specialist and develop a company</p>
        </div>

        <div>
            <h3>Skills:</h3>
            <ul>
            <li>HTML5</li>
            <li>CSS3, SASS,SCSS</li>
            <li>BOOTSTRAP</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>ANGULAR 2+</li>
            </ul>
        </div>

        <div>
            <h3>Education:</h3> 
            <ul>
                <li>Luhansk Taras Shevchenko national university (Physical Education)</li>
                <li>Сourses - CBS - (Frontend developer)</li>
                <li>Microsoft Certification ID: 990909876 (Programming in HTML5 with JavaScript and CSS</li>
            </ul>
        </div>
        <div>
            <h3>Work Expirience:</h3>
            <ul>
                <li>2020 – Cyberbionik systematics (Course assistant instructor Frontend Developer)</li>
                <li>2018 – ITA ( overall physical condition instructor)</li>
            </ul>
        </div>
        <div>
            <h3>Languages:</h3>
            <ul>
                <li>Russian, Ukrainian - nativ</li>
                <li>English – Intermediate</li>
            </ul>
        </div>
    </div>
</div>
